APP_NAME=Tourkokan
APP_ENV=local
APP_KEY=base64:HXGc+9nmt5RJQoTyyyM+1NnUVE1flndTlfYyZoeFwRE=
APP_DEBUG=true
APP_URL=http://localhost

JWT_BLACKLIST_ENABLED=true

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_TIMEZONE=+05:30
DB_HOST=localhost;
unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=new_kokan_tour
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

FTP_HOST='ftp.pranavkamble.in' # online ftp server for test 
FTP_USERNAME='devtourkokan@tourkokan.com'
FTP_PASSWORD='g~p^%ykvW3CG'
FTP_PORT=21
FTP_ROOT='/'

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=1131074c2e131f
# MAIL_PASSWORD=8049de6c3c408e
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=null
# MAIL_FROM_NAME="${APP_NAME}"

# MAIL_MAILER=smtp
# MAIL_HOST=mail.tourkokan.com
# MAIL_PORT=465
# MAIL_USERNAME=no-reply@tourkokan.com
# MAIL_PASSWORD=fiouzpfnihphmdab
# MAIL_ENCRYPTION=tls
# MAIL_FROM_NAME="${APP_NAME}"
# MAIL_FROM_ADDRESS=no-reply@tourkokan.com

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=kamblepranav460@gmail.com
MAIL_PASSWORD=fiouzpfnihphmdab
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=no-reply@tourkokan.com
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=amnm2b2qITmbcPr70ErGGor0VOxPgweAmJ6t5NtexIr1aZ8U6OO4r4MDS2GdvYJm

MSG91_AUTH_KEY=403179ADXgLgW9KhB64d121bfP1
MSG91_ROUTE=4
MSG91_SENDER_ID=YOURID

GOOGLE_MAPS_GEOCODING_API_KEY=AIzaSyArluwc4abyz8Uxuwqh7WZxLWjRGGgV9K0

